version: '3'

secrets:
  cf_dns_api_token:
    file: "./traefik/secrets/cf_dns_api_token.secret"
  cf_zone_api_token:
    file: "./traefik/secrets/cf_zone_api_token.secret"

services:

  traefik:
    image: traefik:v2.8
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./traefik/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "./traefik/credentials.txt:/credentials.txt:ro"
      - "./traefik/acme:/etc/traefik/acme"
    secrets:
      - "cf_dns_api_token"
      - "cf_zone_api_token"
    environment:
      CF_DNS_API_TOKEN_FILE: "/run/secrets/cf_dns_api_token"
      CF_ZONE_API_TOKEN_FILE: "/run/secrets/cf_zone_api_token"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.malteesch.io`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.usersfile=/credentials.txt"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"

  prometheus:
    image: prom/prometheus:v2.37.0
    ports:
      - "9090:9090"
    volumes:
      - "./prometheus:/etc/prometheus:ro"
      - "prometheus_data:/prometheus"

volumes:
  prometheus_data:
