apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
  destination:
    namespace: monitoring
    server: {{ .Values.spec.destination.server }}
  source:
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 33.2.1
    helm:
      releaseName: prometheus
      values: |
              grafana:
                enabled: false
              prometheusSpec:
                storageSpec:
                  volumeClaimTemplate:
                    spec:
                      storageClassName: longhorn-nvme
                      accessModes:
                        - ReadWriteOnce
                      resources:
                        requests:
                          storage: 30Gi
